<div class="botContent">
  <h1>Regelwerk</h1>
  <p class="introText">Dieses Regelwerk basiert auf der Vorlage der IGM und wurde für die eigenen Zwecke modifiziert.<br>
    Stand: 16.04.2022
  </p>
</div>
  
  <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §1 Allgemeine Regelungen
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <h3 class="expansionPanelContent">Abs. 1 Änderungen des Regelwerkes</h3>
    <p class="expansionPanelContent">Sofern keine anderen Festlegungen am Veranstaltungstag durch die Spielleitung angekündigt werden, ist dieses Regelwerk allgemein für alle von der FTD ausgerichteten Veranstaltungen gültig.</p>
    
    <h3 class="expansionPanelContent">Abs. 2 Teilnahmegebühr</h3>
    <p class="expansionPanelContent">Ein Anspruch auf Erstattung der Teilnahmegebühr besteht nicht.</p>
    
    <h3 class="expansionPanelContent">Abs. 3 Spielebenen</h3>
    <p class="expansionPanelContent">Alle Gebäude dürfen nur im Erdgeschoss und Keller bespielt werden.</p>
    
    <h3 class="expansionPanelContent">Abs. 4 Orga-Funk</h3>
    <p class="expansionPanelContent">PMR-Kanäle der Orga, sofern ausgewiesen eingesetzt, ist die 16.</p>
    
    <h3 class="expansionPanelContent">Abs. 5 Auftreten der Teilnehmer</h3>
    <p class="expansionPanelContent">Uniformen haben der deutschen Gesetzgebung zu entsprechen. Verfassungsfeindliche Symbole, sowie Abzeichen aus dem Militär, Polizei, Milizen- oder Guerillaverbänden sind verboten. Ein Verstoß führt zum sofortigen Ausschluss des aktuellen Events, sowie dem temporären Verweis des Geländes. Dieses gilt bis zum Ende des vom FTD veranstalteten Event.</p>
    
  </mat-expansion-panel>
  
 <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §2 Waffenbeschränkungen
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h3 class="expansionPanelContent">Abs. 1 Munition</h3>
    <p class="expansionPanelContent">Zugelassen sind ausschließlich Kugeln mit einem Durchesser von 6mm aus biologisch abbaubaren Materialien (auch BioBB genannt). Kugeln aus Glas, Metall, Keramik oder Kunststoff sind nicht gestattet! Bei der Verwendung von Kugeln aus Glas, Metall oder Keramik ist von vorsätzlicher Körperverletzung auszugehen und wird zur Anzeige durch die Veranstalter gebracht.</p>
    
    <h3 class="expansionPanelContent">Abs. 2 Definition der Waffenkategorien</h3>
    <p class="expansionPanelContent">Pistole: Kompakte Faustwaffe ohne Stütze/Schaft mit sehr kurzem Lauf 0-120mm<br>
      Beispiele: M1911, P99, P8<br>
      Maschinenpistole: Kompaktwaffe mit Schaft und kurzem Lauf 0-250mm<br>
      Beispiele: UMP, MP5, P90<br>
      Sturmgewehr: Waffe mit Schaft und Lauflänge von 250-450mm<br>
      Beispiele: M4, AK47, AUG<br>
      DMR: Langwaffe mit Schaft und Lauflänge > 450mm<br>
      Zusätzliche Bedingung ist ein Zielfernrohr (ZF) oder ein Waffengewicht > 6kg<br>
      Beispiele: SVD, M80/Barett cal.50<br>
      Scharfschützengewehr: Langwaffe, bei welcher nach jedem Schuss manuell per Hand repetiert werden muss. Lauflänge > 400mm<br>
      Beispiele: L96, Kar98</p>
    
    <h3 class="expansionPanelContent">Abs. 3 Zulässige Waffenenergie</h3>
    <p class="expansionPanelContent">Die folgenden Energiewerte sind als absolut zulässiges Maximum anzusehen. Eine Toleranz nach oben wird nicht eingeräumt.<br>
      Pistolen (BackUp): 1,3 J<br>
      Maschinenpistolen: 1,3 J<br>
      Sturmgewehre: 1,7 J<br>
      DMR: 2,5 J<br>
      Scharfschützengewehre: maximal 3,0 J</p>
    
    <h3 class="expansionPanelContent">Abs. 4 Gesetzliche Bestimmungen</h3>
    <p class="expansionPanelContent">Es gelten die Bestimmungen des deutschen Waffengesetzes.</p>
    
    <h3 class="expansionPanelContent">Abs. 5 Prüfen der Waffenenergie durch die Veranstalter</h3>
    <p class="expansionPanelContent">Die Spielleitung behält sich das Recht vor, jederzeit die Energiewerte der Airsoftwaffen einzelner Spielteilnehmer zu kontrollieren. Besteht der Verdacht, dass eine Waffe nicht die Bestimmungen gemäß §2 Abs. 2-4 erfüllt, so ist der Spielleitung unaufgefordert mitzuteilen. Die Ermittlung der Energiewerte erfolgt bei einer Einstellung des „HopUp“, bei der dieses den geringstmöglichen Einfluss auf die Kugel hat. Für die Prüfung werden die benötigten Kugeln immer durch die Spielleitung gestellt.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §3 Sicherheitsregeln
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h3 class="expansionPanelContent">Abs. 1 Schutzbrillenpflicht</h3>
    <p class="expansionPanelContent">Für die Dauer des Veranstaltungstages besteht auf dem gesamten Gelände zu jeder Zeit Schutzbrillenpflicht.</p>
    
    <h3 class="expansionPanelContent">Abs. 2 Tabelle Sicherheitsabstände</h3>
    <p class="expansionPanelContent">Um Verletzungen durch Kugeltreffer auf ein Minimum zu beschränken, gelten folgende Sicherheitsabstände.<br></p>
    <table class="expansionPanelContent" align=center>
      <tr><th>Kugelenergie<br>(Mündung)</th> <th>Kugelgewicht<br>(in Gramm)</th> <th>Mindestabstand<br>(in Meter)</th></tr>
      <tr><td>< 0,5 Joule</td> <td>≤ 0,25</td> <td>2</td></tr>
      <tr><td>< 0,5 Joule</td> <td>> 0,25</td> <td>3</td></tr>
      <tr><td>≤ 1,0 Joule</td> <td>≤ 0,25</td> <td>4</td></tr>
      <tr><td>≤ 1,0 Joule</td> <td>> 0,25</td> <td>5</td></tr>
      <tr><td>≤ 1,5 Joule</td> <td>≤ 0,25</td> <td>10</td></tr>
      <tr><td>≤ 1,5 Joule</td> <td>> 0,25</td> <td>15</td></tr>
      <tr><td>≤ 2,0 Joule</td> <td>≤ 0,25</td> <td>20</td></tr>
      <tr><td>≤ 2,0 Joule</td> <td>> 0,25</td> <td>25</td></tr>
      <tr><td>≤ 2,5 Joule</td> <td>> 0,00</td> <td>30</td></tr>
      <tr><td>≤ 3,0 Joule</td> <td>> 0,00</td> <td>40</td></tr>
    </table>
    
    <h3 class="expansionPanelContent">Abs. 3 Unterschreiten der Sicherheitsabstände</h3>
    <p class="expansionPanelContent">Da die Distanzen nur nach Augenmaß eingeschätzt werden, können die genauen Sicherheitsabstände in der Praxis abweichen. Sollten dennoch Spieler wiederholt mehr als 25% des Abstandes unterschreiten, so ist dies der Spielleitung zu melden.</p>
    
    <h3 class="expansionPanelContent">Abs. 4 Backup-Pflicht</h3>
    <p class="expansionPanelContent">Es besteht für alle Teilnehmer bei Verwendung einer Waffe mit einer Leistung von mehr als 1,3 Joule eine Back-Up-Pflicht. Als Back-Up sind Waffen bis max. 1,3 Joule zulässig. Innerhalb von Gebäuden dürfen nur Waffen mit einer Leistung von max. 1,3 Joule verwendet werden.</p>
    
    <h3 class="expansionPanelContent">Abs. 5 "Bang"-Regel</h3>
    <p class="expansionPanelContent">Wird der Sicherheitsabstand unterschritten, so ist die Bangregel zu verwenden. Hierbei verwendet der Spieler das Wort "Bang" und kann damit maximal 3 Spieler aus dem Spiel nehmen. Bei Waffen mit einer Energie >2 Joule ist immer vorher die Backup-Waffe zu verwenden.</p>
    
    <h3 class="expansionPanelContent">Abs. 6 Passive Teilnehmer</h3>
    <p class="expansionPanelContent">Zur Anzeige, dass man aufgrund eines Treffers oder aus anderen Gründen nicht aktiv am Spiel teilnimmt ist zwingend eine Warnweste zu nutzen. Diese ist deutlich sichtbar zu tragen.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §4 Trefferregeln
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h3 class="expansionPanelContent">Abs. 1 Allgemein</h3>
    <p class="expansionPanelContent">Im Zweifel zählt das Wort des Schützen – immer Waffentreffer werden laut angesagt aber zählen nicht als „Hit“ Blind Schießen ist verboten - dies ist auch beim Gebrauch von "Granaten" zu beachten Kopftreffer sind zu vermeiden Türen, Gipskartonplatten, etc. die von Spielern getragen werden haben keine Schutzwirkung und ein Treffer auf diese führt zu einem Hit bei dem tragenden Spieler. Ballistische Schilde sind nur zugelassen, wenn sie in Große, Form und Gewicht in etwa einem Original der Schutzklasse IV entsprechen. Wird versehentlich ein Spieler aus dem eigenen Team getroffen, so gilt dies dennoch als Treffer.</p>
    
    <h3 class="expansionPanelContent">Abs. 2 Messer-Regel</h3>
    <p class="expansionPanelContent">Im Nahbereich können Spieler durch Antippen und der Aussprache des Wortes "GEMESSERT" aus dem Spiel genommen werden. Es dürfen keine Hilfsmittel/Gegenstände verwendet werden wie z.B. Messer, Gummimesser oder Ähnliches. Der gemesserte Gegner verlässt ohne eine Ansage still das Spielfeld und bewegt sich direkt zum Spawn. Besteht eine Sani-Regel greift diese hierbei nicht mehr.</p>
    
    <h3 class="expansionPanelContent">Abs. 3 Granaten</h3>
    <p class="expansionPanelContent">Granaten, die für den Gebrauch im Airsoftsport bestimmt sind und in irgendeiner Form Kugeln verteilen, erzeugen einen "Hit" ausschließlich durch Treffen mit mindestens einer solcher Kugel beim Spieler. Der Einsatz solcher Wurfkörper hat unter besonderer Vorsicht zu erfolgen. Wurfrichtung und Auftreffpunkt müssen frei von Personen sein. Die Person welche eine Airsoftgranade verwendet, hat dafür Sorge zu tragen, dass Mitspieler lediglich durch die entsprechenden Kugeln getroffen werden.</p>
    
    <h3 class="expansionPanelContent">Abs. 4 Verbotene Granaten</h3>
    <p class="expansionPanelContent">Granaten, die für den Gebrauch im Airsoftsport bestimmt sind, aber (lediglich) einen teils sehr lauten Knall erzeugen sind verboten. Dieser kann besonders in engen Räumen leicht zu Hörschäden führen und deswegen eine Körperverletzung darstellen.</p>
    
    <h3 class="expansionPanelContent">Abs. 5 Verhalten bei einem Treffer</h3>
    <p class="expansionPanelContent">Ein Treffer am eigenen Körper ist durch laute Ansage “Hit“ oder “Getroffen“ sowie das Heben einer Hand anzuzeigen. Gespräche mit noch im Spiel befindlichen Teilnehmern sind bis zum erneuten Spawnen nicht mehr gestattet, insofern es sich um zum Spiel befindliche Themen handelt. Ausnahme ist das Rufen nach dem "Sanni" (Abs 6).<br>
      Ein getroffener Spieler muss danach eine passive Haltung einnehmen und darf weder durch einen anderen Spieler bewegt werden noch sich selbst bewegen. Sollte sich der getroffene Spieler in einem Durchgang oder vor einem Fenster befinden, darf er sich ausnahmsweise max. 2 m bewegen, um den Durchgang frei zu machen. Alternativ kann sich der Spieler zu seinem Spawn bewegen. Hierbei ist eine Warnweste oder ein deutlich sichtbares orangenes Tuch zu tragen. Die "Sanni"-Regel (Abs. 6) findet in diesem Fall keine Anwendung mehr.</p>
    
    <h3 class="expansionPanelContent">Abs. 6a "Sanni"-Regel</h3>
    <p class="expansionPanelContent">Ist ein Spieler getroffen und hat er sich nicht weiter als 2m von diesem Ort bewegt, besteht die Möglichkeit "verarztet" zu werden. Hierbeit legt der Spieler ein weißes Tuch/Mullbinde auf den Kopf oder schwenkt es. Wer keine eigene Sanibinde am Mann hat, ist nach dem ersten Treffer sofort raus. Die Wartezeit auf den Sani kann jeder selbst bestimmen. Zur Eindeutigkeit der Saniregel sind weiße Kopfbedeckungen nicht gestattet. Getroffene Spieler dürfen nicht als „Schutzschild“ missbraucht werden.</p>
    
    <h3 class="expansionPanelContent">Abs. 6b "Sanni"-Regel</h3>
    <p class="expansionPanelContent">Soll ein Spieler "geheilt" werden, kann der Spieler einmalig durch das Anlegen einer weißen „Binde“ durch einen anderen Mitspieler wieder zurück ins Spiel geholt werden. Für diese „Binde“ ist ein weißes Stück Stoff (Bspw. Mullbinde) von etwa 3x30cm ausreichend. Es muss an einem ARM angelegt werden. Wird die Binde an einer anderen Stelle angelegt, ist der Spieler bei Erkennen automatisch „Hit“ und darf in den Spawn geschickt werden.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §5 Schutzzonen
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h3 class="expansionPanelContent">Abs. 1 Definition</h3>
    <p class="expansionPanelContent">Schutzzonen sind Gebiete und Bereiche, in denen Airsoftwaffen nicht verwendet werden dürfen. Zuwiederhandlungen führen zu einem sofortigen Platzverweis und/oder einer langfristigen Sperre von zukünftigen Veranstaltungen.</p>
    
    <h3 class="expansionPanelContent">Abs. 2 Hauptquartier</h3>
    <p class="expansionPanelContent">Als Hauptquarier (HQ) wird das Gebäude bezeichnet, in welchem die Ausrüstung gelagert und vorbereitet wird. In diesen Gebäude ist die Waffe stehts in einem gesicherten und nicht schussbereiten Zustand (ohne Magazin in der Waffe) zu halten. Leer- und Testschüsse im Gebäude sind verboten. Das Betreten des HQs zählt als "Hit". Spieler die dem Spiel wieder beitreten möchten, begeben sich zu Ihren Spawnpunkten.</p>
    
    <h3 class="expansionPanelContent">Abs. 3 Parkplatz</h3>
    <p class="expansionPanelContent">Das Betreten des Parkplatzes mit einer offen geführten Airsoft ist verboten. Es besteht Gefahr, bei eng geparkten Autos, nebenstehende zu beschädigen.</p>
    
    <h3 class="expansionPanelContent">Abs. 4 Verbotene Ziele</h3>
    <p class="expansionPanelContent">Es ist unter allen Umständen verboten Fledermaus- und Vogelschutzkästen/Nisthilfen zu beschießen. Es ist zu vermeiden im Bereich des Zaunes zum Solarfeld in Richtung der Solarplatten zu schießen. In jedem Fall ist der direkte Beschuss der Solarplatten verboten.<br>
      Zuwiderhandlungen können zu einem Platzverweis und/oder langfristiger Sperre führen.</p>
    
    <h3 class="expansionPanelContent">Abs. 5 Spawnpunkte</h3>
    <p class="expansionPanelContent">Befindet sich der Spawn in einem Raum, so ist das Schießen in diesem Raum, oder von dort heraus untersagt. Zusätzlich ist das „Spawncamping“ ist unterlassen. Hierzu zählt das Belagern des Spawns durch das gegnerische Team. Ist dies der Fall zählen alle Personen, welche den Spawn belagern als "Hit" und müssen zu Ihrem eigenen Spawn zurückkehren.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §6 An- und Abreise
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Jeder Spieler der bereits bei der Anreise weiß, dass er vor offiziellem Ende das Event verlassen möchte, parkt außerhalb des Geländes vor dem Tor. Die Geländeparkplätze befinden sich im Spielgelände. Hierbei ist es nicht möglich, vor dem Spielende mit seinem Fahrzeug das Gelände zu verlassen. Nach Einlassende (ausgewiesen in den jeweiligen Spielankündigungen) ist das Betreten des Geländes von Außen verboten.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §7 Pyrotechnik
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Pyrotechnik ist immer verboten. Ausnahme: Rauchkörper die ohne offene Flamme abrennen, bei ausschließlichem Einsatz innerhalb von Gebäuden. Rauchfarben dürfen in keinem Fall weiß oder schwarz sein. Farben wie z.B. Rot, Blau und ähnliche sind erlaubt.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        §8 Passive Teilnehmer
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Passive Teilnehmer, sind Teilnehmer, welche nicht aktiv am Spiel-Geschehen teilnehmen, wie zum Beispiel Zuschauer, Teamfotographen und Orga. Sie haben eine Warnweste bzw. Signalkleidung sowie Schutzbrille zu tragen und dürfen nicht beschossen werden. Zuschauer und Teamfotographen haben sich vor Spielbeginn bei der Orga zu melden und können von der Geländemiete befreit werden.  Passive Teilnehmer dürfen keine aktive Rolle im Spiel-Geschehen ergreifen. Hierzu zählt auch das Weitergeben von Informationen, welche den Spielern einen strategischen Vorteil bringen könnte.</p>

  </mat-expansion-panel>
  
<div class="botContent">
  <h1>Spielmodi</h1>
</div>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        Trouble in Terrorist Town (TTT)
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Hier könnte ihr Text stehen.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
       Capture the flag (CTF)
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Hier könnte ihr Text stehen.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        Team-Match (TDM)
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Hier könnte ihr Text stehen.</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        Konvoi
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Hier könnte ihr Text stehen.</p>

  </mat-expansion-panel>
  
  <h1>Funk</h1>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        Funkgeräte
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Derzeit verwenden wir Funkgeräte der Marke Retevis<br>
     Im Einsatz sind folgende Modelle:<br>
     - RT27<br>
     - RT24 Plus</p>

  </mat-expansion-panel>
  
   <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        Funkkanäle
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Es werden nur frei verfügbare Funkfrequenzen vom Typ PMR446 genutzt.<br>
      Der Standardkanal für die Orga ist Kanal 16.<br><br></p>
    <table class="expansionPanelContent" align=center>
      <tr><th>Freuquenzkanal</th> <th>Mittenfrequenz in MHz</th></tr>
      <tr><td>1</td> <td>446,00625</td></tr>
      <tr><td>2</td> <td>446,01875</td></tr>
      <tr><td>3</td> <td>446,03125</td></tr>
      <tr><td>4</td> <td>446,04375</td></tr>
      <tr><td>5</td> <td>446,05625</td></tr>
      <tr><td>6</td> <td>446,06875</td></tr>
      <tr><td>7</td> <td>446,08125</td></tr>
      <tr><td>8</td> <td>446,09375</td></tr>
      <tr><td>9</td> <td>446,10625</td></tr>
      <tr><td>10</td> <td>446,11875</td></tr>
      <tr><td>11</td> <td>446,13125</td></tr>
      <tr><td>12</td> <td>446,14375</td></tr>
      <tr><td>13</td> <td>446,15625</td></tr>
      <tr><td>14</td> <td>446,16875</td></tr>
      <tr><td>15</td> <td>446,18125</td></tr>
      <tr><td>16</td> <td>446,19375</td></tr>
    </table>
     
  </mat-expansion-panel>  

</div>
