<div class="topContent">
    <h1>Über uns</h1>
    <img src="assets/logo.png" style="width: 250px; height: 200px;"/>
    <p class="introText">Wir sind ein junges Airsoft-Team aus Dresden, welches mehrmals im Jahr kleine Events für Anfänger bis Fortgeschrittene organisiert.<br><br>
    Entstanden ist das Freizeit-Team Dresden aus einigen ehemaligen Mitgliedern des A.I.D. Airsoft Infanterie-Trupp Dresden, als dieser sich zum Verein umfirmierte. Wir selbst sind eine Interessengemeinschaft, d.h. dass jeder teilnehmen kann ohne monatlich einen Beitrag zu zahlen.
    <br><br>
    Seit 2018 sind wir regelmäßig zwei- bis dreimal jährlich aktiv. Neben einigen festen Stammspielern haben wir viele Gastspieler & Anfänger. Hauptsächlich betreiben wir Missionsspiel & TTT-Spiele, aber auch Klassiker wie TDM oder CTF sind keine Seltenheit.
    <br><br>
    Unser Heimspielfeld ist die Paintball-Kaserne Meißen.
    Sporadisch sind wir auch in Plessa und Kroppen zu Gast. Ab und zu nehmen wir auch an anderen Events teil.
    Da wir aus vielen Leuten verschiedenster Altersklassen und Professionalitätslevel bestehen gibt es auch keine Einschränkung bezüglich Ausrüstung oder Kleidung. Fühlt euch frei, so zu spielen wie ihr wollt!
    <br><br>
    Haben wir euer Interesse geweckt?
    Kontaktiert uns gerne via Kontaktformular (ab 18 Jahren!).
    Oder besucht unsere Seite im Airsoft-Verzeichnis.
    </p>
</div>
<div class="botContent">

  <h1>Unsere Partner</h1>
  <p class="sponsorName">John & Phil Games</p>
  <div class="flex-container">
    <div class="flexChildren">Wir freuen uns, dass wir seit Dezember 2021 von dem jungen Spieleentwickler-Team von John & Phil Games aus Dresden unterstützt werden.  Ihren Design-Fähigkeiten verdanken wir nicht nur unser neues Team-Logo, sondern werden auch regelmäßig mit Spielideen und Spielsets passend zu unseren Airsoft-Spielen unterstützt.</div>
    <div class="flexChildren"><img src="assets/phileGames.webp" style="width: 25vh; height: 19vh;"/></div>
  </div>
  
  <p>Möchten Sie uns auch unterstützen?<br>
  Schreiben Sie uns.<br>
  Wir würden uns sehr freuen!<br>
  </p>

<h1>Aktuelles</h1>
<p>Ein kleiner chronologischer Überblick über die vergangenen Spieltage.</p>
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2022
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <p class="expansionPanelContent">02.04.2022</p>
    <a href="link" target="_blank"><img src="assets/photos/IMG_20220424_221050_281.jpg" class="photo" style="width: 400px; height: 300px;"/>
    <a href="link" target="_blank"><img src="assets/photos/IMG_20220424_221045_560.jpg" class="photo" style="width: 225px; height: 300px;"/>
    <p class="expansionPanelContent">Trotz recht kühlen Temperaturen war unser Airsoft-Spiel wieder spannend und unterhaltsam.
    Nach einem zweistündigen Anfänger-Training wurden verschiedene Spiele, wie z.B. Trouble in Terrorist Town und Capture the flag gespielt. Neu war zudem das Missionsspiel "Konvoi", was erstmalig gespielt wurde. Als Abschluss gab es noch ein Pistol-only-game auf dem Speedfeld (Paintballfeld), welches erst seit kurzem wieder für die Nutzung freigegeben ist.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2021
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <p class="expansionPanelContent">23.10.2021</p>
    <a href="link" target="_blank"><img src="assets/photos/IMG_20220424_221042_138.jpg" class="photo" style="width: 225px; height: 300px;"/>
    <p class="expansionPanelContent">Diesmal mit vielen Anfängern besetzt haben wir uns erstmalig dazu entschieden, eine zweistündige Trainingseinheit am Morgen durchzuführen, die es allen Einsteigern ein wenig erleichtert hat ins Spiel hineinzukommen. Danach gab's viele Runden Trouble in Terrorist Town, im Gebäude, was uns bei den doch schon herbstlich kühlen Temperaturen recht war. Abschließend durfte natürlich auch ein wenig Team Deathmatch nicht fehlen, was einen gelungenen Abschluss des Tages bildete.
    </p>
  
    <p class="expansionPanelContent">10.07.2021</p>
    <p class="expansionPanelContent">An diesem Tag haben wir mal ein paar Missionen ausprobiert: Erstmalig zum Einsatz kam eine selbstgebaute und selbst programmierte Airsoft-Bomben-Attrappe, mit welcher wir verschiedene Spielmodi, wie z.B. Bombenentschärfung, Capture the flag und Geiselnahme durchgespielt haben. Als Finale kam an diesem Tage noch der Spielmodus Vietnam dran, der aufgrund seiner dynamischen Teams für alle Mitspieler sehr anspruchsvoll, aber dennoch im Endeffekt ein spannender Abschluss des Tages war.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2020
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <p class="expansionPanelContent">29.08.2020</p>
    <p class="expansionPanelContent">Als kleines Team von aktuell 10 Personen haben wir uns an diesem Tage auf  unserem Heimspielfeld in Meißen getroffen.  Es fanden viele kleine Spielmodi verschiedenster Art statt, sodass ein jeder auf seine Kosten kam.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2019
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <p class="expansionPanelContent">04.08.2019</p>
    <p class="expansionPanelContent">Als kleines Team von aktuell 8 Personen haben wir uns an diesem Tage auf den Weg zu unserem Heimspielfeld nach Meißen gemacht. An diesem Tag wurden viele kleine Spiele verschiedenster Art gespielt, sodass ein jeder auf seine Kosten kam.
    </p>
  
</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2018
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <p class="expansionPanelContent">26.08.2018</p>
    <p class="expansionPanelContent">Das war er: Der erste richtige Spieltag mit unserem neuen Team nach mehrjähriger Pause!
    Mit einer kunterbunten Mischung aus P226, P90, SVD, M1911, 2x G36, einer ASG, MP7 und einer USP ging es mit vielen Anfängern an den Start. Viele verschiedene Kennlern-Modi in 2er-Teams, aber auch Klassiker wie Team Deathmatch wurden gespielt und haben allen Teilnehmenden viel Spaß gemacht. Erstmals wurde auch Trouble in Terrorist Town gespielt - in einer der Computerspiel-Version nachempfundenen Airsoft-Version.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2013
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">04.08.2019</p>
    <p class="expansionPanelContent">Gründung des Teams im Airsoft-Verzeichnis Dresden
    </p>

</mat-expansion-panel>
