<div class="topContent">
    <h1>Über uns</h1>
    <img src="assets/logo.png" style="width: 250px; height: 200px;"/>
    <p class="introText">Wir sind ein junges Airsoft-Team aus Dresden, welches mehrmals im Jahr kleine Events für Anfänger bis Fortgeschrittene organisiert.<br><br>
    Entstanden ist das Freizeit-Team Dresden aus einigen ehemaligen Mitgliedern des A.I.D. Airsoft Infanterie-Trupp Dresden, als dieser sich zum Verein umfirmierte. Wir selbst sind eine Interessengemeinschaft, d.h. dass jeder teilnehmen kann ohne monatlich einen Beitrag zu zahlen.
    <br><br>
    Seit 2018 sind wir regelmäßig zwei- bis dreimal jährlich aktiv. Neben einigen festen Stammspielern haben wir viele Gastspieler & Anfänger. Hauptsächlich betreiben wir Missionsspiel & TTT-Spiele, aber auch Klassiker wie TDM oder CTF sind keine Seltenheit.
    <br><br>
    Unser Heimspielfeld ist die Paintball-Kaserne Meißen.
    Sporadisch sind wir auch in Plessa und Kroppen zu Gast. Ab und zu nehmen wir auch an anderen Events teil.
    Da wir aus vielen Leuten verschiedenster Altersklassen und Professionalitätslevel bestehen gibt es auch keine Einschränkung bezüglich Ausrüstung oder Kleidung. Fühlt euch frei, so zu spielen wie ihr wollt!
    <br><br>
    Haben wir euer Interesse geweckt?
    Kontaktiert uns gerne via Kontaktformular (ab 18 Jahren!).
    Oder besucht unsere Seite im Airsoft-Verzeichnis.
    </p>
</div>
<div class="botContent">

  <h1>Unsere Partner</h1>
  
  <p class="sponsorName">John & Phil Games</p>
  <div class="flex-container">
    <div class="flexChildren">Wir freuen uns, dass wir seit Dezember 2021 von dem jungen Spieleentwickler-Team von John & Phil Games aus Dresden unterstützt werden.  Ihren Design-Fähigkeiten verdanken wir nicht nur unser neues Team-Logo, sondern werden auch regelmäßig mit Spielideen und Spielsets passend zu unseren Airsoft-Spielen unterstützt.</div>
    <div class="flexChildren"><img src="assets/phileGames.webp" style="width: 25vh; height: 19vh;"/></div>
  </div>
  
  <p class="sponsorName">Begadi</p>
  <div class="flex-container">
    <div class="flexChildren">Seit Mai 2022 sind wir nun offiziell Partner von Begadi, welche uns mit einer großen Bandbreite an Erfahrung und jahrelangem Know-How im Bereich der Ausrüstung tatkräftig unterstützen.</div>
    <div class="flexChildren"><img src="assets/banner_01.jpg" style="width: 280px; height: 146px;"/></div>
  </div>
  
  <p>Möchten Sie uns auch unterstützen?<br>
  Schreiben Sie uns.<br>
  Wir würden uns sehr freuen!<br>
  </p>
