<div class="topContent">
    <h1>Nächster Spieltag</h1>
    <p class="introText">Unser nächstes Event findet statt am:
    <br><br></p>
    <h1>25.11.2023</h1>
    <h2>Weihnachtsfeier mit Lasertag</h2>
    <!--<p class="introText">Anmeldeschluss ist am Mittwoch vor dem Spieltag. Ab diesem Zeitpunkt, ist außer für den Fall von Krankheit, Unfall oder anderen besonderen Einzelfällen, keine kostenfreie Abmeldung mehr möglich.<br>
    Es ist außerdem zu beachten, dass die Teilnahmegebühr sich ab sofort nach dem Zahlungseingang richtet!</p>
  
  <h1>Spieltagesablauf</h1>
  <p class="introText">8:30 Einlass*<br>
    8:30 - 9:30 Vorbereitung<br><br>
    9:30 - 17:00 Spiele verschiedener Art<br>
    inkl. Mittagspause (ca. 1 Stunde)<br><br>
    17:00 - 18:00 Abbau / Einpacken + Abreise<br><br>
    *bitte ca. 15 min vor Einlass da sein, damit der Einlass nicht verpasst wird. Die Tore werden 30min nachdem Einlass geschlossen. Wer Später kommt, muss dies im Voraus mit der Spielleitung absprechen.
  </p>-->
</div>

<div class="botContent">  
  <h1>Kommende Spiele</h1>

  <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        04.11.2023
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Anmeldeschluss:  01.11.2023<br><br>
    Normaler Airsoft-Spieltag<br><br>
    Teilnahmegebühr:<br>
      - Achtung! Die Teilnahmegebühr richtet sich ab sofort nach dem Zahlungseingang! -<br>
      12,-€ bei Zahlung bis 14 Tage vor Spieltag
      15,-€ bei Zahlung bis Anmeldeschluss
      17,-€ bei Zahlung bis Spieltag
    
    </p>

  </mat-expansion-panel>  
  
  <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        <s>07.10.2023</s>
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Anmeldeschluss:  04.10.2023<br><br>
    Normaler Airsoft-Spieltag<br>
    Teilnahmegebühr: 15,-€
    </p>

  </mat-expansion-panel>  
  
  <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        <s>29./30.07.2023</s>
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Ausfall wegen zu geringer Teilnehmerzahl!<br><br>
    Anmeldeschluss:  26.07.2023<br><br>
    Doppelspieltag:<br>
    Die Missionen erstrecken sich über zwei Tage. Teilnahme ist auch an nur einem der beiden Tage möglich bzw. es werden immer beide Tage bezahlt, auch wenn die Teilnahme nur an einem Tag erfolgt.<br><br>
    Teilnahmegebühr: 25,-€
    </p>

  </mat-expansion-panel>    
  
  <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        <s>04.02.2023</s>
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <p class="expansionPanelContent">Anmeldeschluss:  01.02.2023<br><br>
    Normaler Airsoft-Spieltag<br>
    Teilnahmegebühr: 15,-€
    </p>

  </mat-expansion-panel>  
  
 
  <h1>Themenwelten</h1>
  <p class="introText">Um ein wenig Abwechslung in den Airsoft-Alltag zu bringen gibt es bei uns die Themenwelten.
Gelegentlich geben wir dafür an bestimmten Events zusätzlich Themen vor, damit ihr die Möglichkeit habt, bei Interesse gern einmal thematisch spielen zu können.
Natürlich ist all das freiwillig - wer möchte, kann auch ganz normal Airsoft ohne spezifisches Thema spielen.
  </p>
  
  <h1>Meißen out West</h1>
  <div class="flex-container">
    <div class="flexChildren">Howdy! Schon lange keinen Western mehr gesehen? Dann werdet selbst zum Westernheld! Zu unseren Thementagen im Wilden Westen sind Revolverhelden und Cowboys aus nah und fern eingeladen, sich ihr Lasso zu schnappen und mit uns in ein Westernabenteuer einzusteigen - Revolverduell inklusive!<br><br>
      Nächster Termin:<br>
      wird noch bekanntgegeben</div>
    <div class="flexChildren"><img src="assets/220404_Airsoft_Flagge_Misena.jpg" style="width: 25vh; height: 19vh;"/></div>    
  </div>
  
  <h1>Der Morcara-Clan</h1>
  <div class="flex-container">
    <div class="flexChildren">An unseren Story-Tagen zum Thema Morcara-Clan taucht ihr tief in die Welt von Lithuania ein und ergründet die geheimnisvolle Unterwelt der Stadt Mor. Lass euch ein auf eine spannende, aber auch an Lachern nicht zu überbietende Geschichte, die euch lang begleiten wird.<br><br>
    Nächster Termin:<br>
    derzeit pausiert<br>
    Achtung: Doppelspieltag!</div>
    <div class="flexChildren"><img src="assets/220404_Airsoft_Flagge_Morcara.jpg" style="width: 25vh; height: 19vh;"/></div>    
  </div>

  <h1>Let's start</h1>
  <div class="flex-container">
    <div class="flexChildren">Noch nie Airsoft gespielt oder mal Lust auf ein bisschen Übung?
Speziell für Anfänger und Gelegenheitsspieler gibt es einige Trainingstage, an denen darum geht, ein wenig seine Fähigkeiten weiterzuentwickeln.
An diesen Tagen finden keine Missionsspiele, sondern nur kurz Spielmodi mit gezielten Aufgaben statt. Diese kurzen Games dauern maximal 30 min und werden im Anschluss nachbesprochen. Hierbei sollen Taktiken und die Auffassungsgabe trainiert werden.<br><br>
    Nächster Termin:<br>
    wird noch bekanntgegeben</div>
    <div class="flexChildren"><img src="assets/logo.png" style="width: 25vh; height: 19vh;"/></div>    
  </div>

</div>
