<div class="container hero">
	<div class="inner"> 
        <img src="/assets/logo.png" style="width: 8%; height: 8%;"/>
		<mat-toolbar class="toolbar">
            <a mat-button routerLink="/" routerLinkActive="activebutton">Home</a>
            <a mat-button routerLink="/about-us" routerLinkActive="activebutton">Über uns</a>
            <a mat-button routerLink="/events" routerLinkActive="activebutton">Events</a>
            <a mat-button routerLink="/rules" routerLinkActive="activebutton">Regelwerk</a>
            <a mat-button routerLink="/register" routerLinkActive="activebutton">Anmeldung</a>
            <span class="example-spacer"></span>
            <button mat-button color="primary">Kontakt & Anmledung</button>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div id="footer" class="bg-primary">
            <a mat-button routerLink="/impressum" routerLinkActive="activebutton">Impressum</a>
            <a mat-button routerLink="/datenschutz" routerLinkActive="activebutton">Datenschutz</a>
        </div>
	</div>
	<!-- <div class="overlay"></div> -->
	<div class="background">
		<canvas #canvas width="1920" height="1080" style="background-image: url('/assets/ESKS_blau.jpg'); background-size: cover;"></canvas>
	</div>
</div>
