<div class="topContent">
    <h1>Aktuelles</h1>
    <img src="assets/logo.png" style="width: 250px; height: 200px;"/>
    <p class="introText">Ein kleiner chronologischer Überblick über die vergangenen Spieltage.</p>
</div>
<div class="botContent">

 <mat-expansion-panel class="expansionPanel" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2025
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <h2><font color=white>11.10.2025</font></h2>
    <p class="expansionPanelContent">Das bisherige Jahr war leider nicht mit vielen Spieltagen gesegnet. Immer wieder kam etwas dazwischen, sodass wir unsere angestrebte Mindestspieleranzahl nicht erreicht haben. Ein Spiel sollte jedoch noch vor Ende der Saison stattfinden und man einigte sich auf den 11.10.2025. Da unser Stamm-Spielfeld für den Termin bereits ausgebucht war, sind wir auf das Spielfeld in Plessa ausgewichen und wurden mit einem wirklich schönen Spieltag belohnt.
    </p>
	<h2></h2>
    <a href="assets/photos/251011/251011_1.jpg" target="_blank"><img src="assets/photos/251011/251011_1.jpg" class="photo" style="width: 600px; height: 450px;"/></a>
    <p class="expansionPanelContent">Einige wenige, kannten das Gelände bereits, für viele war das Feld unbekanntes Terrain. Zum Glück gab es vereinzelt Karten, sodass man sich im Voraus grob orientieren und das Spielfeld eingrenzen konnte. Nach der obligatorischen Einweisung und dem Chronen der Waffen wurde sich eine Stunde warmgespielt. Die insgesamt 11 Spieler wurden in Zweierteams aufgeteilt und der verbleibende Spieler, bildete mit dem ersten Spieler der zurück zum Spawn kam, ein neues Duo. Gemeinsam konnten die Teams so nach und nach ein Großteil des Geländes erkunden.
    </p>
    <h2></h2>
    <a href="assets/photos/251011/251011_3.jpg" target="_blank"><img src="assets/photos/251011/251011_3.jpg" class="photo" style="width: 225px; height: 300px;"/></a>
    <a href="assets/photos/251011/251011_2.jpg" target="_blank"><img src="assets/photos/251011/251011_2.jpg" class="photo" style="width: 400px; height: 300px;"/></a>
    <a href="assets/photos/251011/251011_4.jpg" target="_blank"><img src="assets/photos/251011/251011_4.jpg" class="photo" style="width: 225px; height: 300px;"/></a>
    <!-- <p class="expansionPanelContent">Nach dem Ablauf der Stunde, wurde das L-Haus zum Schauplatz für Trouble in Terrorist Town. In mehreren Runden hieß es für die Terroristen geduldig abzuwarten und die unschuldigen Spieler raffiniert auszuschalten. Ein Nekromant erweckt Zombies zum „leben“ und zu allem Überfluss mischte noch ein Schakal mit und verfolgte seine ganz eigenen Ziele.</br>
    Eine schwere Aufgabe also für den Detektiv, die braven Bürger von den Feinden zu unterscheiden. So schwierig, dass er in der zweiten Runde noch in den ersten fünf Minuten als einer der ersten Spieler, das Zeitliche segnete.</br></br>
    Schnell war die Mittagszeit heran und wir wurden dank eines Mitspielers mit köstlich-würziger Kürbissuppe versorgt. Gestärkt ging es anschließend in den Nachmittag. Um jedoch zu vermeiden, dass es vom Spieltag erneut keine Fotos gibt, hieß es zunächst: Gruppenfoto!
    </p> -->
    <h2></h2>
    <a href="assets/photos/251011/251011_5.jpg" target="_blank"><img src="assets/photos/251011/251011_5.jpg" class="photo" style="width: 600px; height: 450px;"/></a>
    <!-- <p class="expansionPanelContent">Den Abschluss des Tages machten mehrere Spiele Capture the Flag bei dem sich das Team, dessen Flagge erobert wurde, weiter zurückzog, während die Eroberer den Respawn des besiegten Teams übernahmen um von dort erneut die Flagge des gegnerischen Teams zu befreien versuchten.</br></br>
    Da es im Oktober doch etwas zeitiger dunkel wird, wurde in der letzten halben Stunde weitere Fotos von einzelnen Spielern gemacht, während es andere vorzogen mit Schießübungen ihre Magazine zu leeren und über die Reichweite ihrer Waffen zu fachsimpeln.
    </p> -->
    <h2></h2>
    <a href="assets/photos/251011/251011_6.jpg" target="_blank"><img src="assets/photos/251011/251011_6.jpg" class="photo" style="width: 300px; height: 225px;"/></a>
    <a href="assets/photos/251011/251011_7.jpg" target="_blank"><img src="assets/photos/251011/251011_7.jpg" class="photo" style="width: 300px; height: 225px;"/></a>
    <a href="assets/photos/251011/251011_8.jpg" target="_blank"><img src="assets/photos/251011/251011_8.jpg" class="photo" style="width: 300px; height: 225px;"/></a>
    <!-- <p class="expansionPanelContent">Als letzte Handlung des Tages, wurde zusammengepackt und die genutzten Räume entsprechend sauber hinterlassen. Auf dem Parkplatz wurde der Tag gemeinsam ausgewertet. Was bleibt ist die Vorfreude auf den nächsten Spieltag, von denen es hoffentlich nächstes Jahr, wieder deutlich mehr geben wird. Danke Plessa, für einen tollen Oktoberspieltag bei bestem Airsoftwetter.
    </p> -->

 </mat-expansion-panel>
 
  <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2024
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h2><font color=white>29.06.2024</font></h2>
    <!-- <a href="assets/photos/220716/220716_1.jpg" target="_blank"><img src="assets/photos/220716/220716_1.jpg" class="photo" style="width: 400px; height: 225px;"/></a> -->
    <p class="expansionPanelContent"><br>
    </p>
  
    <h2><font color=white>06.04.2024</font></h2>
    <a href="assets/photos/240406/240406_1.jpg" target="_blank"><img src="assets/photos/240406/240406_1.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <a href="assets/photos/240406/240406_2.jpg" target="_blank"><img src="assets/photos/240406/240406_2.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <p class="expansionPanelContent"><br>
    </p>

 </mat-expansion-panel>
 
 <mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2023
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h2><font color=white>04.11.2023</font></h2>
    <!-- <a href="assets/photos/220716/220716_1.jpg" target="_blank"><img src="assets/photos/220716/220716_1.jpg" class="photo" style="width: 400px; height: 225px;"/></a> -->
    <p class="expansionPanelContent">Am letzten Spieltag der Saison waren wir mit einer kleinen Gruppe von 11 Leuten unterwegs. Entsprechend wurden diesmal kleiner Spielmodi gespielt, wie z.B Fuchsjagd oder als Klassiker TDM. Für ein wenig Abwechslung sorgte CQB, welches wir diesmal in einem der südlichen Gebäude spielen konnten, sodass dort auch für erfahrene Spieler ganz neue Eindrücke des Geländes boten.
    </p>
  
    <h2><font color=white>07.10.2023</font></h2>
    <p class="expansionPanelContent"><br>
    </p>
  
    <h2><font color=white>04.02.2023</font></h2>
    <p class="expansionPanelContent">Am erster Spieltag der Saison haben wir nach anfänglichen Startschwierigkeiten aufgrund der Temperaturgrenzen der Gas-Markierer einige kleiner Runden gespielt, hautpsächlich Capture the Flag und TDM. Für Abwechslung sorgten dann spannender Missionsmodi wie z.B. Domination.
    </p>

 </mat-expansion-panel>

 <mat-expansion-panel class="expansionPanel">
   <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2022
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h2><font color=white>08. & 09.10.2022 (Doppelspieltag)</font></h2>
    <p class="expansionPanelContent">Am zweiten Doppelspieltag diesen Jahres wurden verschiedenste Spielmodi ausprobiert: Am ersten Tag begannen wir mit einem einfachen Team-Dueling-Match (TDM), gefolgt von ein paar Runden TTT. Danach folgten verschiedene Missionsspiele wie Objective, Capture the flag (CTF), Domination und andere. Am zweiten Tag lag vormittags der Fokus auf Conquer the building (CQB) in den alten Kasernengebäuden, nachmittags dann endend mit ein paar Runden TDM auf dem Trümmerfeld.
    </p>
  
    <h2><font color=white>16.07.2022</font></h2>
    <a href="assets/photos/220716/220716_1.jpg" target="_blank"><img src="assets/photos/220716/220716_1.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <a href="assets/photos/220716/220716_2.jpg" target="_blank"><img src="assets/photos/220716/220716_2.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <p class="expansionPanelContent">An diesem sommerlichen Spieltag wurden verschiedenste Übungsspiele durchgeführt, um den sicheren Umgang mit Airsoft-Markierern zu trainieren. So wurde zum Beispiel die Verwendung von Deckungen, aber auch die Reaktionsfähigkeit von den erfahreneren Spielern den Unerfahreneren nähergebracht, wobei das erlernte Wissen in kleinen Mini-Spielen direkt angewendet werden konnte.
    </p>
  
    <h2><font color=white>18. & 19.06.2022 (Doppelspieltag)</font></h2>
    <a href="assets/photos/220619/220619_1.jpg" target="_blank"><img src="assets/photos/220619/220619_1.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <a href="assets/photos/220619/220619_2.jpg" target="_blank"><img src="assets/photos/220619/220619_2.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <a href="assets/photos/220619/220619_3.jpg" target="_blank"><img src="assets/photos/220619/220619_3.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <a href="assets/photos/220619/220619_4.jpg" target="_blank"><img src="assets/photos/220619/220619_4.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <p class="expansionPanelContent">Unser erster Doppelspieltag fand unter dem Motto des Morcara-Clans statt.
      Entlang einer unterhaltsamen Storyline wurden verschiedenste bereits bekannte, aber auch neue Spielmodi gespielt. So wurde auch unter anderem zum ersten Mal der Spielmodi "Domination" gespielt. Am Abend gab es dann ein Lagerfeuer, bevor sich 
      Am nächsten Tag wurde der Spieltag aufgrund der sehr heißen Temperaturen von über 35°C verkürzt und die Spielmodi dem Wetter angepasst, sodass wir nach ein paar Capture-the-flag-Spielrunden noch ein paar Runden TTT gespielt haben, bevor sich wieder alle auf den Heimweg gemacht haben.
    </p>
  
    <h2><font color=white>21.05.2022</font></h2>
    <a href="assets/photos/220521/220521_3.jpg" target="_blank"><img src="assets/photos/220521/220521_3.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <a href="assets/photos/220521/220521_5.jpg" target="_blank"><img src="assets/photos/220521/220521_5.jpg" class="photo" style="width: 400px; height: 225px;"/></a>
    <a href="assets/photos/220521/220521_1.jpg" target="_blank"><img src="assets/photos/220521/220521_1.jpg" class="photo" style="width: 300px; height: 225px;"/></a>
    <a href="assets/photos/220521/220521_2.jpg" target="_blank"><img src="assets/photos/220521/220521_2.jpg" class="photo" style="width: 300px; height: 225px;"/></a>
    <a href="assets/photos/220521/220521_4.JPG" target="_blank"><img src="assets/photos/220521/220521_4.JPG" class="photo" style="width: 169px; height: 225px;"/></a>
    <p class="expansionPanelContent">Bei frühlingshaften 20°C gab es wieder ein paar spannende Spiele. Mit verschiedensten Spielmodi gelang es uns, einen abwechslungsreichen Spieltag zu erleben. Wieder dabei war der beim letzten Mal sehr beliebt gewesene Spielmodus "Konvoi", der noch einmal überarbeitet und den örtlichen Gegebenheiten besser angepasst wurde.
    </p>
  
    <h2><font color=white>02.04.2022</font></h2>
    <a href="assets/photos/IMG_20220424_221050_281.jpg" target="_blank"><img src="assets/photos/IMG_20220424_221050_281.jpg" class="photo" style="width: 400px; height: 300px;"/></a>
    <a href="assets/photos/IMG_20220424_221045_560.jpg" target="_blank"><img src="assets/photos/IMG_20220424_221045_560.jpg" class="photo" style="width: 225px; height: 300px;"/></a>
    <p class="expansionPanelContent">Trotz recht kühlen Temperaturen war unser Airsoft-Spiel wieder spannend und unterhaltsam.
    Nach einem zweistündigen Anfänger-Training wurden verschiedene Spiele, wie z.B. Trouble in Terrorist Town und Capture the flag gespielt. Neu war zudem das Missionsspiel "Konvoi", was erstmalig gespielt wurde. Als Abschluss gab es noch ein Pistol-only-game auf dem Speedfeld (Paintballfeld), welches erst seit kurzem wieder für die Nutzung freigegeben ist.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2021
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <h2><font color=white>23.10.2021</font></h2>
    <a href="assets/photos/IMG_20220424_221042_138.jpg" target="_blank"><img src="assets/photos/IMG_20220424_221042_138.jpg" class="photo" style="width: 225px; height: 300px;"/></a>
    <p class="expansionPanelContent">Diesmal mit vielen Anfängern besetzt haben wir uns erstmalig dazu entschieden, eine zweistündige Trainingseinheit am Morgen durchzuführen, die es allen Einsteigern ein wenig erleichtert hat ins Spiel hineinzukommen. Danach gab's viele Runden Trouble in Terrorist Town, im Gebäude, was uns bei den doch schon herbstlich kühlen Temperaturen recht war. Abschließend durfte natürlich auch ein wenig Team Deathmatch nicht fehlen, was einen gelungenen Abschluss des Tages bildete.
    </p>
  
    <h2><font color=white>10.07.2021</font></h2>
    <p class="expansionPanelContent">An diesem Tag haben wir mal ein paar Missionen ausprobiert: Erstmalig zum Einsatz kam eine selbstgebaute und selbst programmierte Airsoft-Bomben-Attrappe, mit welcher wir verschiedene Spielmodi, wie z.B. Bombenentschärfung, Capture the flag und Geiselnahme durchgespielt haben. Als Finale kam an diesem Tage noch der Spielmodus Vietnam dran, der aufgrund seiner dynamischen Teams für alle Mitspieler sehr anspruchsvoll, aber dennoch im Endeffekt ein spannender Abschluss des Tages war.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2020
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <h2><font color=white>29.08.2020</font></h2>
    <p class="expansionPanelContent">Als kleines Team von aktuell 10 Personen haben wir uns an diesem Tage auf  unserem Heimspielfeld in Meißen getroffen.  Es fanden viele kleine Spielmodi verschiedenster Art statt, sodass ein jeder auf seine Kosten kam.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2019
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <h2><font color=white>04.08.2019</font></h2>
    <p class="expansionPanelContent">Als kleines Team von aktuell 8 Personen haben wir uns an diesem Tage auf den Weg zu unserem Heimspielfeld nach Meißen gemacht. An diesem Tag wurden viele kleine Spiele verschiedenster Art gespielt, sodass ein jeder auf seine Kosten kam.
    </p>
  
</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2018
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <h2><font color=white>26.08.2018</font></h2>
    <p class="expansionPanelContent">Das war er: Der erste richtige Spieltag mit unserem neuen Team nach mehrjähriger Pause!
    Mit einer kunterbunten Mischung aus P226, P90, SVD, M1911, 2x G36, einer ASG, MP7 und einer USP ging es mit vielen Anfängern an den Start. Viele verschiedene Kennlern-Modi in 2er-Teams, aber auch Klassiker wie Team Deathmatch wurden gespielt und haben allen Teilnehmenden viel Spaß gemacht. Erstmals wurde auch Trouble in Terrorist Town gespielt - in einer der Computerspiel-Version nachempfundenen Airsoft-Version.
    </p>

</mat-expansion-panel>
  
<mat-expansion-panel class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansionPanelHeader">
        2013
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <h2><font color=white>01.08.2013</font></h2>
    <p class="expansionPanelContent">Gründung des Teams im Airsoft-Verzeichnis Dresden
    </p>

</mat-expansion-panel>
