.title{
    font-size: 50px;
}

.subtitle{
    font-size: 25px;
}

.heading{
    margin-top: 10%;
    height: 740px;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    margin-bottom: 10vh;
}

.flex-child{
    flex: 1;
}
