<p><br>
  <a href="https://www.begadi.com" target="_blank"><img src="assets/100x475_waagrecht_11.jpg" class="photo" style="width: 665px; height: 140px;"/></a>
</p>
  
<div class="heading">
  <span class="subtitle">Herzlich Wilkommen beim </span>
    <br><br>
    <span class="title">Freizeit Team Dresden</span>
    <br><br>
    <img src="assets/Teamfoto.jpg" class="photo" style="width: 600px; height: 300px;"/>
</div>
<div class="flex-container">
    <div class="flex-child">
        <img src="assets/logo.png" style="width: 24vh; height: 20vh;"/>
    </div>
    <div class="flex-child">
        <h1>Über uns</h1>
        <br><br>
        <span>Wir sind ein junges Airsoft-Team aus Dresden, welches mehrmals im Jahr kleine Events für Anfänger bis Fortgeschrittene organisiert.</span>
        <br><br>
        <button>Über uns</button>
    </div>

</div>
