<p>register works!</p>

<div class="form">
    <div class="flex-container">
        <div class="flex-child">
            <input [(ngModel)]="name" />
        </div>
        <div class="flex-child">
            <input />
        </div>
        <div class="flex-child">
            <input />
        </div>
    </div>
    <div class="messageInput">
        <input />
    </div>
    <div>
        <button mat-raised-button (click)="onclickBTN()">E-Mail senden</button>
    </div>
</div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScVeK3NaH63HnaOLOQZbZee2rJTc_rsfYJguLTFcvJQIkkjaA/viewform?embedded=true" width="640" height="840" frameborder="0" marginheight="0" marginwidth="0">Wird geladen…</iframe>
<a #link style="display: none;" id="mailto" [href]="hrefstring">test</a>
