<div class="heading">
  <span class="title">Anmedlung für die Events des FTD</span>
    <br><br><br>
    <span class="subtitle">Die Gebühr für einen Spieltag beträgt<br>
      12,-€ / 15 € / 17,-€ für einen Einzeltag und<br>
      20,-€ / 25 € / 30,-€ an einem Doppeltermin<br>
      Preise für Zahlung: bis 14 Tage vor Spieltag / bis Anmeldeschluss / bis Spieltag
    </span>
</div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfspCcJdnndYGk7uSCLDbTji1LN22N8jiFmIqIpATXFRPgM1w/viewform?embedded=true" width="720" height="1280" frameborder="0" marginheight="0" marginwidth="0">Wird geladen…</iframe>
